<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book_borrowing_system_springboot.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.example.book_borrowing_system_springboot.entity.SysUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentno" column="studentno" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="classes" column="classes" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="userpic" column="userpic" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentno,username,
        password,phone,classes,
        email,address,nickname,
        userpic,role,question,
        answer,ip,create_time,
        update_time,login_date,remark,
        status
    </sql>
</mapper>
